<nav class="gn-menu-wrapper">
    <div class="gn-scroller">
		<ul class="gn-menu">
			<li>
				<span class="indicator dashboard"></span>
				<a href="{{ path('se_transfer_homepage') }}" class="gn-icon glyphicon glyphicon-home">Transfer Dashboard</a>
			</li>
		</ul>
	</div><!-- /gn-scroller -->
</nav>