@CHARSET "ISO-8859-1";

.transfer-urgent td {
	font-weight: bold;
	color: #f60;
}
.transfer-late td {
	font-weight: bold;
	color: red;
}

#transfer-history .form-group {
    margin-bottom: 15px;
    width: 33%;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    vertical-align: top;
}
#transfer-history .form-group select[multiple] {
	display: inline-block;
    height: 400px;
    height: -webkit-fill-available;
    max-height: 100%;
}