{% extends "SEPerformanceBundle::layout.html.twig" %}

{% block title %}Dashboard - {{ parent() }}{% endblock %}

{% block seadmin_header %}
	<header class="h-review">
		<div class="line"></div>
		<h2><i class="glyphicon glyphicon-home"> </i> Performance Dashboard</h2>
	</header>
{% endblock %}

{% block seadmin_body %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}